 
@{
    ViewBag.Title = "得出结论";
    Layout = "~/Views/Shared/_BasicProcess.cshtml";
}


<div id="ad" class="easyui-accordion" style="padding: 10px; width: 100%; height: 100%;border:0; position: absolute;" data-options="fit:true,fitColumns:true">
    <div title="得出结论" data-options="iconCls:'icon-search'" style="padding: 10px; border: 0;">
        <!--流程退回提示信息-->
        <fieldset id="fieldsetLiuChengtuiHui" style="display:none">
            <legend style="font-weight:bold;color:blue">流程退回提示</legend>
            <div>
                <fieldset>
                    <legend style="font-weight:bold;color:blue" id="fieldsetTuiHuiBiaoTou"></legend>
                    <div id="divTuiHuiLiYou">
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <!--此四个数据域保存当前流程参数
        <input type="hidden" id="FK_Flow" value='@ViewData["FK_Flow"]' />
        <input type="hidden" id="WorkID" value='@ViewData["WorkID"]' />
        <input type="hidden" id="FK_Node" value='@ViewData["FK_Node"]' />
        <input type="hidden" id="FID" value='@ViewData["FID"]' />
            -->
        FK_Flow:<input type="text" id="FK_Flow" value='@ViewData["FK_Flow"]' />
        WorkID:<input type="text" id="WorkID" value='@ViewData["WorkID"]' />
        FK_Node:<input type="text" id="FK_Node" value='@ViewData["FK_Node"]' />
        FID:<input type="text" id="FID" value='@ViewData["FID"]' />
    </div>

    <div title="结论描述"  data-options="iconCls:'icon-search'" style="padding-top: 10px; border: 0; ">

        <form method="post" novalidate>
            <div id="pgtb" style="height:auto">
                <table cellspacing="0" cellpadding="0" style="margin-left:10px">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" id="link_fasong" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">发送</a>
                            <a href="javascript:void(0)" id="link_baocun" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">保存</a>
                            <a href="javascript:void(0)" id="link_chaosong" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true">抄送</a>
                            <a href="javascript:void(0)" id="link_liuchengtu" class="easyui-linkbutton" data-options="iconCls:'icon-large-picture',plain:true">流程图</a>
                        </td> 
                    </tr>
                </table>
            </div>
            <div style="width: 96%;margin-left:2%">
                <table id="pg" style="width: 100%;"></table>
            </div>
        </form>

    </div>
</div>

<script src="~/Scripts/step-data-commom.js"></script>
<script src="~/Scripts/step-data-load.js"></script>
<script src="~/Scripts/step-data.js"></script>

<script src="~/Views/DeChuJieLun/js/DeChuJieLun/AT_.js"></script>
<script src="~/Views/DeChuJieLun/js/DeChuJieLun/BS_.js"></script>
<script src="~/Views/DeChuJieLun/js/DeChuJieLun/ET_.js"></script>
<script>
    
    var DuiBiFenXiData = [];
    var duibifenxiArgsVal = {
        "FK_Flow": FK_Flow,
        "WorkID": WorkID,
        "stepType": StepType.LIANGHUADUIBIFENXI
    }
    AT_.AjaxPost("/DuiBiFenXi/GetHistoryDataFromTrack", duibifenxiArgsVal, function (data, status) {
        if (data.state == "0") {
            var dbfxResult = parseJSON(data._Json);
            dbfxResult.rows.forEach(function (e) {
                var temp = {
                    text: e.No + "=>" + e.Name,
                    value: e.OID
                };
                DuiBiFenXiData.push(temp);
            });
        }
    });

     
    var QingHuanChengDu = [
                       { "value": "一般", "text": "一般" },
                       { "value": "紧急", "text": "紧急" },
                       { "value": "特急", "text": "特急" }
    ];

    var DCJLGroupName = "得出结论结果";
    var DCJLOriginResult = undefined;
    var DCJLPropertygridData = [
        { "name": "结论编号", "index": 0, "id": "DCJL_No", "value": "JL_", "group": DCJLGroupName, "editor": "text" },
        { "name": "结论名称", "index": 0, "id": "DCJL_Name", "group": DCJLGroupName, "editor": "text" },
        { "name": "结论得出者", "index": 0, "id": "DCJL_ProposerName", "value": currentLoginUserName, "group": DCJLGroupName },
        { "name": "结论得出时间", "index": 0, "id": "DCJL_ProposeTime", "group": DCJLGroupName, "editor": "datetimebox" },
        {
            "name": "针对的量化对比分析结果", "index": 0, "id": "DCJL_FK_DBFXOID", "group": DCJLGroupName, "editor": {
                type: 'combobox',
                options: {
                    data: DuiBiFenXiData,
                    valueField: 'value',
                    textfield: 'text'
                }
            }
        },
        { "name": "关键字", "index": 0, "id": "DCJL_Keys", "group": DCJLGroupName, "editor": "text" },
        {
            "name": '结论轻缓程度', "index": 0, "id": "DCJL_Mitigation", "group": DCJLGroupName, editor: {
                type: 'combobox',
                options: {
                    data: QingHuanChengDu,
                    valueField: 'value',
                    textfield: 'text'
                }
            }
        },
        { "name": '结论描述', "index": 0, "id": "DCJL_Description", "group": DCJLGroupName, "editor": "ex_textarea" },
        { "name": '有效的解决思路', "index": 0, "id": "DCJL_EffectiveSolution", "group": DCJLGroupName, "editor": "ex_textarea" },
        { "name": "论据", "index": 0, "id": "DCJL_Arguments", "group": DCJLGroupName, "editor": "ex_textarea" },
        {
            "name": "有效链接及链接说明", "index": 0, "id": "DCJL_Link", "group": DCJLGroupName, "editor": {
                type: "ex_panel",
                options: {
                    callback: function () {
                        BS_.addLink()
                    }
                }
            }
        },
        {
            "name": "附件清单以及说明", "index": 0, "id": "DCJL_Attach", "group": DCJLGroupName, "editor": {
                type: "ex_panel",
                options: {
                    callback: function () {
                        BS_.addAttach()
                    }
                }
            }
        },
        { "name": "补充说明", "index": 0, "id": "DCJL_Remarks", "group": DCJLGroupName, "editor": "ex_textarea" },
        { "name": "上次修改时间", "index": 0, "id": "DCJL_ModifyTime", "group": DCJLGroupName },
        {
            "name": "删除该结论", "index": 0, "id": "DCJL_del", "group": DCJLGroupName, "editor": {
                type: "ex_expandrows",
                options: {
                    icon: "icon-cut",
                    callback: BS_.deleteDCJL
                }
            }
        },
        {
            "name": "添加结论", "index": 0, "id": "DCJL_add", "group": DCJLGroupName, "editor": {
                type: "ex_expandrows",
                options: {
                    icon: "icon-add",
                    callback: BS_.appendDCJL
                }
            }
        }
    ];

    var propertygridData = {
        "total": XiangMuPropertygridData.length +
                 KeTiPropertygridData.length +
                 XQFXShenHePropertygridData.length +
                 DYPropertygridData.length +
                 DYShenHePropertygridData.length +
                 TCWTPropertygridData.length +
                 TCWTShenHePropertygridData.length +
                 JJSLPropertygridData.length +
                 JJSLShenHePropertygridData.length +
                 XSHPropertygridData.length +
                 XSHShenHePropertygridData.length +
                 SJSFPropertygridData.length +
                 SJSFShenHePropertygridData.length +
                 SJSYPropertygridData.length +
                 SJSYShenHePropertygridData.length +
                 DBFXPropertygridData.length +
                 DBFXShenHePropertygridData.length +
                 DCJLPropertygridData.length,
        "rows": []
    }

    DCJLPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    DBFXShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    DBFXPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    SJSYShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    SJSYPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    SJSFShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    SJSFPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XSHShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XSHPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    JJSLShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    JJSLPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    TCWTShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    TCWTPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    DYShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    DYPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XQFXShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    KeTiPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XiangMuPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });


     

             
    $(function () {
        if ($.fn.propertygrid) {
            $.fn.propertygrid.defaults.columns[0][0].title = "标题"; // 对应Name  
            $.fn.propertygrid.defaults.columns[0][1].title = "内容"; // 对应Value  
            $.fn.propertygrid.defaults.columns[0][0].width = "20%"; // 对应Name  
            $.fn.propertygrid.defaults.columns[0][1].width = "75%"; // 对应Value  
        }
        //选择显示第二项
        $("#ad").accordion({
            selected: 1
        });
        $("#pg").propertygrid({
            toolbar: pgtb,
            showGroup: true,
            scrollbarSize: 0,
            groupFormatter: function (fvalue, rows) {
                return fvalue + ' - <span style="color:red">' + rows.length + ' rows</span>';
            },
            data: cloneJSON(propertygridData),
            onClickRow: function () {
                //单击行的时候，设置进入编辑状态
                var row = $("#pg").propertygrid("getSelected");
                var editIndex = $("#pg").propertygrid('getRowIndex', row);
                $("#pg").propertygrid('beginEdit', editIndex);
            },
            rowStyler: function (index, row) {
                if ((row.group == DCJLGroupName && row.editor == null) ||
                        (row.type != undefined && row.type == "load") ) {
                    return 'background-color:#F2F2F2;color:#000;font-weight:bold;height:100px;text-align:right';
                }
                if (row.name == "分隔位置") {
                    return 'background-color:#0081C2;color:#fff;font-weight:bold;height:100px;text-align:right';
                }
            }
        });
        $("#pg").propertygrid("collapseGroup");
        $("#pg").propertygrid("expandGroup", 0);
        //初始化
        ET_.onload();
    });

    $.extend($.fn.propertygrid.defaults.columns[0][1], {
        formatter: function (value, rowData, rowIndex) {
            if (rowData.name == "审核结果") {
                return value == SHENHEJIEGUO.PASS ? "通过" : "退回";
            } else if (rowData.name == "针对的量化对比分析结果") {
                for (var i = 0; i < DuiBiFenXiData.length; i++) {
                    if (DuiBiFenXiData[i].value == value) {
                        return DuiBiFenXiData[i].text;
                    }
                }
            } else {
                return value;
            }
        }
    });


</script>

