 
@{
    ViewBag.Title = "设计实验";
    Layout = "~/Views/Shared/_BasicProcess.cshtml";
}


<div id="ad" class="easyui-accordion" style="padding: 10px; width: 100%; height: 100%;border:0; position: absolute;" data-options="fit:true,fitColumns:true">
    <div title="设计实验评估算法" data-options="iconCls:'icon-search'" style="padding: 10px; border: 0;">
        <!--流程退回提示信息-->
        <fieldset id="fieldsetLiuChengtuiHui" style="display:none">
            <legend style="font-weight:bold;color:blue">流程退回提示</legend>
            <div>
                <fieldset>
                    <legend style="font-weight:bold;color:blue" id="fieldsetTuiHuiBiaoTou"></legend>
                    <div id="divTuiHuiLiYou">
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <!--此四个数据域保存当前流程参数
        <input type="hidden" id="FK_Flow" value='@ViewData["FK_Flow"]' />
        <input type="hidden" id="WorkID" value='@ViewData["WorkID"]' />
        <input type="hidden" id="FK_Node" value='@ViewData["FK_Node"]' />
        <input type="hidden" id="FID" value='@ViewData["FID"]' />
            -->
        FK_Flow:<input type="text" id="FK_Flow" value='@ViewData["FK_Flow"]' />
        WorkID:<input type="text" id="WorkID" value='@ViewData["WorkID"]' />
        FK_Node:<input type="text" id="FK_Node" value='@ViewData["FK_Node"]' />
        FID:<input type="text" id="FID" value='@ViewData["FID"]' />
    </div>

    <div title="实验描述及结果" data-options="iconCls:'icon-search'"  style="padding-top: 10px; border: 0; ">

        <form method="post" novalidate>
            <div id="pgtb" style="height:auto">
                <table cellspacing="0" cellpadding="0" style="margin-left:10px">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" id="link_fasong" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">发送</a>
                            <a href="javascript:void(0)" id="link_baocun" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">保存</a>
                            <a href="javascript:void(0)" id="link_chaosong" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true">抄送</a>
                            <a href="javascript:void(0)" id="link_liuchengtu" class="easyui-linkbutton" data-options="iconCls:'icon-large-picture',plain:true">流程图</a>
                        </td> 
                    </tr>
                </table>
            </div>
            <div style="width: 96%;margin-left:2%">
                <table id="pg" style="width: 100%;"></table>
            </div>
        </form>

    </div>
</div>

<script src="~/Scripts/step-data-commom.js"></script>
<script src="~/Scripts/step-data-load.js"></script>
<script src="~/Scripts/step-data.js"></script>

<script src="~/Views/SheJiShiYan/js/SheJiShiYan/AT_.js"></script>
<script src="~/Views/SheJiShiYan/js/SheJiShiYan/BS_.js"></script>
<script src="~/Views/SheJiShiYan/js/SheJiShiYan/ET_.js"></script>
<script>
     
    var SheJiSuanFaData = [];
    var suanfaArgsVal = {
        "FK_Flow": FK_Flow,
        "WorkID": WorkID,
        "stepType": StepType.SHEJISUANFA
    }
    AT_.AjaxPost("/SheJiSuanFa/GetHistoryDataFromTrack", suanfaArgsVal, function (data, status) {
        if (data.state == "0") {
            var suanfaResult = parseJSON(data._Json);
            suanfaResult.rows.forEach(function (e) {
                var temp = {
                    text: e.No + "=>" + e.Name,
                    value: e.OID
                };
                SheJiSuanFaData.push(temp);
            });
        }
    });


     
    var SJSYGroupName = "设计实验结果";
    var SJSYOriginResult = undefined;
    var SJSYPropertygridData = [
        { "name": "实验编号", "index": 0, "id": "SY_No", "value": "SY_", "group": SJSYGroupName, "editor": "text" },
        { "name": "实验名称", "index": 0, "id": "SY_Name", "group": SJSYGroupName, "editor": "text" },
        { "name": "实验设计者", "index": 0, "id": "SY_ProposerName", "value": currentLoginUserName, "group": SJSYGroupName },
        { "name": "实验时间", "index": 0, "id": "SY_ProposeTime", "group": SJSYGroupName, "editor": "datetimebox" },
        {
            "name": "针对的求解算法", "index": 0, "id": "SY_FK_SFOID", "group": SJSYGroupName, "editor": {
                type: 'combobox',
                options: {
                    data: SheJiSuanFaData,
                    valueField: 'value',
                    textfield: 'text'
                }
            }
        },
        { "name": "关键字", "index": 0, "id": "SY_Keys", "group": SJSYGroupName, "editor": "text" },
        { "name": '实验描述', "index": 0, "id": "SY_Description", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": '实验设计', "index": 0, "id": "SY_Design", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": '实验采用的评估指标体系', "index": 0, "id": "SY_IndexSys", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": "实验实现步骤", "index": 0, "id": "SY_RealizeStep", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": "无偏向的测试条件", "index": 0, "id": "SY_TestCondition", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": "实验数据", "index": 0, "id": "SY_Data", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": "量化的统计结果", "index": 0, "id": "SY_StatistacalResult", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": "实验结果", "index": 0, "id": "SY_Result", "group": SJSYGroupName, "editor": "ex_textarea" },
        {
            "name": "有效链接及链接说明", "id": "SY_Link", "index": 0, "group": SJSYGroupName, "editor": {
                type: "ex_panel",
                options: {
                    callback: function () {
                        BS_.addLink()
                    }
                }
            }
        }, 
        {
            "name": "附件清单以及说明", "index": 0, "id": "SY_Attach", "group": SJSYGroupName, "editor": {
                type: "ex_panel",
                options: {
                    callback: function () {
                        BS_.addAttach()
                    }
                }
            }
        },
        { "name": "补充说明", "index": 0, "id": "SY_Remarks", "group": SJSYGroupName, "editor": "ex_textarea" },
        { "name": "上次修改时间", "index": 0, "id": "SY_ModifyTime", "group": SJSYGroupName },
        {
            "name": "删除该实验", "index": 0, "id": "SY_del", "group": SJSYGroupName, "editor": {
                type: "ex_expandrows",
                options: {
                    icon: "icon-cut",
                    callback: BS_.deleteSY
                }
            }
        },
        {
            "name": "添加实验", "index": 0, "id": "SY_add", "group": SJSYGroupName, "editor": {
                type: "ex_expandrows",
                options: {
                    icon: "icon-add",
                    callback: BS_.appendSY
                }
            }
        }
    ];


    var propertygridData = {
        "total": XiangMuPropertygridData.length +
                 KeTiPropertygridData.length +
                 XQFXShenHePropertygridData.length +
                 DYPropertygridData.length +
                 DYShenHePropertygridData.length +
                 TCWTPropertygridData.length +
                 TCWTShenHePropertygridData.length +
                 JJSLPropertygridData.length +
                 JJSLShenHePropertygridData.length +
                 XSHPropertygridData.length +
                 XSHShenHePropertygridData.length +
                 SJSFPropertygridData.length +
                 SJSFShenHePropertygridData.length +
                 SJSYPropertygridData.length,
        "rows": []
    }

    SJSYPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    SJSFShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    SJSFPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XSHShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XSHPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    JJSLShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    JJSLPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    TCWTShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    TCWTPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    DYShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    DYPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XQFXShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    KeTiPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XiangMuPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });


 
    $(function () {
        if ($.fn.propertygrid) {
            $.fn.propertygrid.defaults.columns[0][0].title = "标题"; // 对应Name  
            $.fn.propertygrid.defaults.columns[0][1].title = "内容"; // 对应Value  
            $.fn.propertygrid.defaults.columns[0][0].width = "20%"; // 对应Name  
            $.fn.propertygrid.defaults.columns[0][1].width = "75%"; // 对应Value  
        }
        //选择显示第二项
        $("#ad").accordion({
            selected: 1
        });
        $("#pg").propertygrid({
            toolbar: pgtb,
            showGroup: true,
            scrollbarSize: 0,
            groupFormatter: function (fvalue, rows) {
                return fvalue + ' - <span style="color:red">' + rows.length + ' rows</span>';
            },
            data: cloneJSON(propertygridData),
            onClickRow: function () {
                //单击行的时候，设置进入编辑状态
                var row = $("#pg").propertygrid("getSelected");
                var editIndex = $("#pg").propertygrid('getRowIndex', row);
                $("#pg").propertygrid('beginEdit', editIndex);
            },
            rowStyler: function (index, row) {
                if ((row.group == SJSYGroupName && row.editor == null) ||
                         (row.type != undefined && row.type == "load") ) {
                    return 'background-color:#F2F2F2;color:#000;font-weight:bold;height:100px;text-align:right';
                }
                if (row.name == "分隔位置") {
                    return 'background-color:#0081C2;color:#fff;font-weight:bold;height:100px;text-align:right';
                }
            }
        });
        $("#pg").propertygrid("collapseGroup");
        $("#pg").propertygrid("expandGroup", 0);

        //初始化
        ET_.onload();
    });

    $.extend($.fn.propertygrid.defaults.columns[0][1], {
        formatter: function (value, rowData, rowIndex) {
            if (rowData.name == "审核结果") {
                return value == SHENHEJIEGUO.PASS ? "通过" : "退回";
            } else if (rowData.name == "针对的求解算法") {
                for (var i = 0; i < SheJiSuanFaData.length; i++) {
                    if (SheJiSuanFaData[i].value == value) {
                        return SheJiSuanFaData[i].text;
                    }
                }
            } else {
                return value;
            }
        }
    });




</script>

