@{
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<!-- Jquery EasyUI styles for this template -->
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.4.1/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.4.1/themes/icon.css">

<div id="tt" class="" style="padding: 5px 10px;border:0px solid red;height:98%;" data-options=" " >
    <div title="未读" style="padding:10px;">
        <table class="easyui-datagrid" id="dg_unread"
               data-options="fix:true,fitColumns:true" style="width:99%; position:absolute;">
            <thead>
                <tr>
                    <th data-options="field:'Title',align:'center'" style="width: 25%;">标题</th>
                    <th data-options="field:'FlowName',align:'center'" style="width:15%;">流程名称</th>
                    <th data-options="field:'NodeName',align:'center'" style="width:15%;">流程节点</th>
                    <th data-options="field:'NeiRong',align:'center'" style="width:20%;">内容</th>
                    <th data-options="field:'Rec',align:'center'" style="width:10%;">抄送人</th>
                    <th data-options="field:'RDT',align:'center'" style="width:10%;">抄送日期</th>
                </tr>
            </thead>
        </table>
    </div>
    <div title="全部" style="padding:10px;">
        <table class="easyui-datagrid" id="dg_all"
                data-options="fix:true,fitColumns:true" style="width:99%;position:absolute;">
            <thead>
                <tr>
                    <th data-options="field:'Title',align:'center'" style="width:25%;">标题</th>
                    <th data-options="field:'FlowName',align:'center'" style="width:15%;">流程名称</th>
                    <th data-options="field:'NodeName',align:'center'" style="width:15%;">流程节点</th>
                    <th data-options="field:'NeiRong',align:'center'" style="width:10%;">内容</th>
                    <th data-options="field:'Rec',align:'center'" style="width:10%;">抄送人</th>
                    <th data-options="field:'RDT',align:'center'" style="width:10%;">抄送日期</th>
                    <th data-options="field:'ShanChu',align:'center'" style="width:10%;">操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div title="已读" style="padding:10px">
        <table class="easyui-datagrid" id="dg_read"
               data-options="fix:true,fitColumns:true" style="width:99%;position:absolute;">
            <thead>
                <tr>
                    <th data-options="field:'Title',align:'center'" style="width: 25%;">标题</th>
                    <th data-options="field:'FlowName',align:'center'" style="width:15%;">流程名称</th>
                    <th data-options="field:'NodeName',align:'center'" style="width:15%;">流程节点</th>
                    <th data-options="field:'NeiRong',align:'center'" style="width:10%;">内容</th>
                    <th data-options="field:'Rec',align:'center'" style="width:10%;">抄送人</th>
                    <th data-options="field:'RDT',align:'center'" style="width:10%;">抄送日期</th>
                    <th data-options="field:'ShanChu',align:'center'" style="width:10%;">操作</th>
                </tr>
            </thead>
        </table>
    </div>
    <div title="已删除" style="padding:10px">
        <table class="easyui-datagrid" id="dg_delete"
               data-options="fix:true,fitColumns:true" style="width:99%;position:absolute;">
            <thead>
                <tr>
                    <th data-options="field:'Title',align:'center'" style="width: 25%;">标题</th>
                    <th data-options="field:'FlowName',align:'center'" style="width:15%;">流程名称</th>
                    <th data-options="field:'NodeName',align:'center'" style="width:15%;">流程节点</th>
                    <th data-options="field:'NeiRong',align:'center'" style="width:10%;">内容</th>
                    <th data-options="field:'Rec',align:'center'" style="width:10%;">抄送人</th>
                    <th data-options="field:'RDT',align:'center'" style="width:10%;">抄送日期</th>
                    <th data-options="field:'CheDiShanChu',align:'center'" style="width:10%;">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div id="divDocDialog" class="easyui-dialog" data-options="{
                    title: '抄送内容',
                    closed: true,
                    cache: false,
                    height: 400,
                    width: 600,
                    modal: true,
                    buttons: [{
                            iconCls: 'icon-ok',
                            text: '确定',
                            handler: BS_.guanBiXianShi
                        }
                    ]
                 }">
    <div style="padding:20px">
        <div style="margin-bottom:10px;margin-top:-10px">
            <div>抄送人：</div>
            <div id="divRec" style="border:2px solid #D4D4D4;padding-left:5px; height:20px;width:100%"></div>
        </div>
        <div style="margin-bottom:10px">
            <div>标题：</div>
            <div id="divTitle" style="border:2px solid #D4D4D4;padding-left:5px; height:20px;width:100%"></div>
        </div>
        <div id="">
            <div>内容：</div>
            <div id="divDoc" style="border: 2px solid #D4D4D4; padding-left: 5px; height: 180px; width: 100%; "></div>
        </div>
    </div>
</div>



    <!--Jquery EasyUI  js文件   -->
    <script src="~/Content/jquery-easyui-1.4.1/jquery.min.js"></script>
    <script src="~/Content/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery_extend.js"></script>
     
    <script src="~/Views/ChaoSong/js/ChaoSong/AT_.js"></script>
    <script src="~/Views/ChaoSong/js/ChaoSong/BS_.js"></script>
    <script src="~/Views/ChaoSong/js/ChaoSong/ET_.js"></script>
    <script>
        //获取数据
        var ccList_All = '@Html.Raw(@ViewData["ccList_All"])';
        var ccList_Read = '@Html.Raw(@ViewData["ccList_Read"])';
        var ccList_UnRead = '@Html.Raw(@ViewData["ccList_UnRead"])';
        var ccList_Delete = '@Html.Raw(@ViewData["ccList_Delete"])';

        ccList_All = ccList_All.replace(/[\r\n]+/g, '\\<br\\>\\<br\\>').replace(/ /gi, "&nbsp;&nbsp;");
        ccList_Read = ccList_Read.replace(/[\r\n]+/g, '\\<br\\>\\<br\\>').replace(/ /gi, "&nbsp;&nbsp;");
        ccList_UnRead = ccList_UnRead.replace(/[\r\n]+/g, '\\<br\\>\\<br\\>').replace(/ /gi, "&nbsp;&nbsp;");
        ccList_Delete = ccList_Delete.replace(/[\r\n]+/g, '\\<br\\>\\<br\\>').replace(/ /gi, "&nbsp;&nbsp;");

        ccList_All = parseJSON(ccList_All);
        ccList_Read = parseJSON(ccList_Read);
        ccList_UnRead = parseJSON(ccList_UnRead);
        ccList_Delete = parseJSON(ccList_Delete);

        $(function () {
            //设置tabs高度
            $("#tt").tabs({
                //width: $("#tt").parent().width(),
                height: $("#tt").parent().height()
            });
            //如果设置了显示的tabIndex
            var tabIndex = '@ViewData["tabIndex"]';
            if (tabIndex != '') {
                $("#tt").tabs({ "selected": parseInt(tabIndex) });
            }
            //为tab添加进入事件
            var tabs = $('#tt').tabs().tabs('tabs');
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].panel('options').tab.unbind().bind('mouseenter', { index: i }, function (e) {
                    $('#tt').tabs('select', e.data.index);
                });
            }


            if (ccList_UnRead != '' && ccList_UnRead.rows.length != 0) {
                for (var index = 0; index < ccList_UnRead.rows.length; index++) {
                    ccList_UnRead.rows[index].NeiRong = "<a href='#' onclick='BS_.xianShiDoc(" + index + ")'>查看内容</a>";
                }
            }
            if (ccList_All != '' && ccList_All.rows.length != 0) {
                for (var index = 0; index < ccList_All.rows.length; index++) {
                    ccList_All.rows[index].NeiRong = "<a href='#' onclick='BS_.xianShiDoc(" + index + ")'>查看内容</a>";
                    ccList_All.rows[index].ShanChu = "<a href='#' onclick='BS_.shanChu(" + ccList_All.rows[index].MyPK + ")'>删除</a>";
                }
            }
            if (ccList_Read != '' && ccList_Read.rows.length != 0) {
                for (var index = 0; index < ccList_Read.rows.length; index++) {
                    ccList_Read.rows[index].NeiRong = "<a href='#' onclick='BS_.xianShiDoc(" + index + ")'>查看内容</a>";
                    ccList_Read.rows[index].ShanChu = "<a href='#' onclick='BS_.shanChu(" + ccList_Read.rows[index].MyPK + ")'>删除</a>";
                }
            }
            if (ccList_Delete != '' && ccList_Delete.rows.length != 0) {
                for (var index = 0; index < ccList_Delete.rows.length; index++) {
                    ccList_Delete.rows[index].NeiRong = "<a href='#' onclick='BS_.xianShiDoc(" + index + ")'>查看内容</a>";
                    ccList_Delete.rows[index].CheDiShanChu = "<a href='#' onclick='BS_.cheDiShanChu(" + ccList_Delete.rows[index].MyPK + ")'>彻底删除</a>";
                }
            }

            var _OriginPageSize = 10;

            var _OriginUnreadArray = { total: _OriginPageSize, rows: [] };
            if (ccList_UnRead != undefined && ccList_UnRead.rows != undefined) {
                for (var i = 0; i < _OriginPageSize; i++) {
                    if (ccList_UnRead.rows[i] != undefined) {
                        _OriginUnreadArray.rows[i] = ccList_UnRead.rows[i];
                    }
                }
            }
            $('#dg_unread').datagrid({
                //显示序号
                rownumbers: true,
                data: cloneJSON(_OriginUnreadArray),
                //分页
                pagination: true
            });
            $('#dg_unread').datagrid("getPager").pagination({
                pageSize: _OriginPageSize,//每页显示的记录条数，默认为10 
                total: ccList_UnRead.rows.length,
                onSelectPage: BS_.onSelectUnreadPage
            });


            var _OriginAllArray = { total: _OriginPageSize, rows: [] };
            if (ccList_All != undefined && ccList_All.rows != undefined) {
                for (var i = 0; i < _OriginPageSize; i++) {
                    if (ccList_All.rows[i] != undefined) {
                        _OriginAllArray.rows[i] = ccList_All.rows[i];
                    }
                }
            }
            $('#dg_all').datagrid({
                //显示序号
                rownumbers: true,
                data: cloneJSON(_OriginAllArray),
                //分页
                pagination: true
            });
            $('#dg_all').datagrid("getPager").pagination({
                pageSize: _OriginPageSize,//每页显示的记录条数，默认为10 
                total: ccList_All.rows.length,
                onSelectPage: BS_.onSelectAllPage
            });



            var _OriginReadArray = { total: _OriginPageSize, rows: [] };
            if (ccList_Read != undefined && ccList_Read.rows != undefined) {
                for (var i = 0; i < _OriginPageSize; i++) {
                    if (ccList_Read.rows[i] != undefined) {
                        _OriginReadArray.rows[i] = ccList_Read.rows[i];
                    }
                }
            }
            $('#dg_read').datagrid({
                //显示序号
                rownumbers: true,
                data: cloneJSON(_OriginReadArray),
                //分页
                pagination: true 
            });
            $('#dg_read').datagrid("getPager").pagination({
                pageSize: _OriginPageSize,//每页显示的记录条数，默认为10 
                total: ccList_Read.rows.length,
                onSelectPage: BS_.onSelectReadPage
            });


            var _OriginDeleteArray = { total: _OriginPageSize, rows: [] };
            if (ccList_Delete != undefined && ccList_Delete.rows != undefined) {
                for (var i = 0; i < _OriginPageSize; i++) {
                    if (ccList_Delete.rows[i] != undefined) {
                        _OriginDeleteArray.rows[i] = ccList_Delete.rows[i];
                    }
                }
            }
            $('#dg_delete').datagrid({
                //显示序号
                rownumbers: true,
                data: cloneJSON(_OriginDeleteArray),
                //分页
                pagination: true 
            });
            $('#dg_delete').datagrid("getPager").pagination({
                pageSize: _OriginPageSize,//每页显示的记录条数，默认为10 
                total: ccList_Delete.rows.length,
                onSelectPage: BS_.onSelectDeletePage
            });
        });
    </script>