@{
    ViewBag.Title = "调研";
    Layout = "~/Views/Shared/_BasicProcess.cshtml";
}

 
 
   
<div id="ad" class="easyui-accordion" style="padding: 10px; width: 100%; height: 100%;border:0; position: absolute;" data-options="fit:true,fitColumns:true">
    <div title="调研" data-options="iconCls:'icon-search'" style="padding: 10px; border: 0;">
        <!--流程退回提示信息-->
        <fieldset id="fieldsetLiuChengtuiHui" style="display:none">
            <legend style="font-weight:bold;color:blue">流程退回提示</legend>
            <div>
                <fieldset>
                    <legend style="font-weight:bold;color:blue" id="fieldsetTuiHuiBiaoTou"></legend>
                    <div id="divTuiHuiLiYou">
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <!--此四个数据域保存当前流程参数
        <input type="hidden" id="FK_Flow" value='@ViewData["FK_Flow"]' />
        <input type="hidden" id="WorkID" value='@ViewData["WorkID"]' />
        <input type="hidden" id="FK_Node" value='@ViewData["FK_Node"]' />
        <input type="hidden" id="FID" value='@ViewData["FID"]' />
            -->
        FK_Flow:<input type="text" id="FK_Flow" value='@ViewData["FK_Flow"]' />
        WorkID:<input type="text" id="WorkID" value='@ViewData["WorkID"]' />
        FK_Node:<input type="text" id="FK_Node" value='@ViewData["FK_Node"]' />
        FID:<input type="text" id="FID" value='@ViewData["FID"]' />
    </div>

    
    <div title="结果分析"  data-options="iconCls:'icon-search'" style="padding-top: 10px; border: 0; ">
        <form method="post" novalidate>
            <div id="pgtb" style="height:auto">
                <table cellspacing="0" cellpadding="0" style="margin-left:10px">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" id="link_fasong" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">发送</a>
                            <a href="javascript:void(0)" id="link_baocun" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true">保存</a>
                            <a href="javascript:void(0)" id="link_chaosong" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true">抄送</a>
                            <a href="javascript:void(0)" id="link_liuchengtu" class="easyui-linkbutton" data-options="iconCls:'icon-large-picture',plain:true">流程图</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 96%;margin-left:2%">
                <table id="pg" style="width: 100%;"></table>
            </div>
        </form>

    </div>
</div>



<script src="~/Scripts/step-data-commom.js"></script>
<script src="~/Scripts/step-data-load.js"></script>
<script src="~/Scripts/step-data.js"></script>
 
<script src="~/Views/DiaoYan/js/DiaoYan/AT_.js"></script>
<script src="~/Views/DiaoYan/js/DiaoYan/BS_.js"></script>
<script src="~/Views/DiaoYan/js/DiaoYan/ET_.js"></script>
 




<script>
   
    var DYGroupName = "调研结果";
    var DYOriginResult = undefined;//调研的项目数据
    var DYPropertygridData = [
        { "name": "调研编号", "index": 0, "id": "DY_No", "value": "DY_", "group": DYGroupName, "editor": "text" },
        { "name": "调研名称", "index": 0, "id": "DY_Name", "group": DYGroupName, "editor": "text" },
        { "name": "调查人", "index": 0, "id": "DY_ProposerName", "value": currentLoginUserName, "group": DYGroupName },
        { "name": "调查时间", "index": 0, "id": "DY_ProposeTime", "group": DYGroupName, "editor": "datetimebox" },
        { "name": "研究综述类型", "index": 0, "id": "DY_SumType", "group": DYGroupName, "editor": "text" },
        { "name": "研究综述", "index": 0, "id": "DY_Sum", "group": DYGroupName, "editor": "ex_textarea" },
        { "name": "调查地点", "index": 0, "id": "DY_SurveryAddr", "group": DYGroupName, "editor": "text" },
        { "name": '课题研究者', "index": 0, "id": "DY_Investigator", "group": DYGroupName, "editor": "text" },
        { "name": "关键字", "index": 0, "id": "DY_Keys", "group": DYGroupName, "editor": "text" },
        { "name": "研究结果", "index": 0, "id": "DY_AnalysisResult", "group": DYGroupName, "editor": "ex_textarea" },
        {
            "name": "有效链接及链接说明", "id": "DY_Link", "index": 0, "group": DYGroupName, "editor": {
                type: "ex_panel",
                options: {
                    callback: function () {
                        BS_.addLink()
                    }
                }
            }
        },
        { "name": '对研究结果的评价（优点)', "index": 0, "id": "DY_AdvantageValue", "group": DYGroupName, "editor": "ex_textarea" },
        { "name": "对研究结果的评价（缺点）", "index": 0, "id": "DY_WeaknessValue", "group": DYGroupName, "editor": "ex_textarea" },
        { "name": "未解决的问题", "index": 0, "id": "DY_UnsolvedProblem", "group": DYGroupName, "editor": "ex_textarea" },
        { "name": "目前的技术趋势", "index": 0, "id": "DY_TechTrends", "group": DYGroupName, "editor": "ex_textarea" },
        { "name": "超越点", "index": 0, "id": "DY_BeyondPoint", "group": DYGroupName, "editor": "ex_textarea" },
        {
            "name": "附件清单以及说明", "index": 0, "id": "DY_Attach", "group": DYGroupName, "editor": {
                type: "ex_panel",
                options: {
                    callback: function () {
                        BS_.addAttach()
                    }
                }
            }
        },
        { "name": "补充说明", "index": 0, "id": "DY_Remarks", "group": DYGroupName, "editor": "ex_textarea" },
        { "name": "上次修改时间", "index": 0, "id": "DY_ModifyTime", "group": DYGroupName },
        {
            "name": "删除该调研结果", "id": "DY_del", "index": 0, "group": DYGroupName, "editor": {
                type: "ex_expandrows",
                options: {
                    icon: "icon-cut",
                    callback: BS_.deleteDY
                }
            }
        },
        {
            "name": "添加新的调研结果", "id": "DY_add", "index": 0, "group": DYGroupName, "editor": {
                type: "ex_expandrows",
                options: {
                    icon: "icon-add",
                    callback: BS_.appendDY
                }
            }
        }
    ];


    var propertygridData = {
        "total": XiangMuPropertygridData.length + KeTiPropertygridData.length +
            XQFXShenHePropertygridData.length, "rows": []
    }

    DYPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XQFXShenHePropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    KeTiPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });
    XiangMuPropertygridData.forEach(function (e) {
        propertygridData.rows.push(e);
    });


    $(function () {
        if ($.fn.propertygrid) {
            $.fn.propertygrid.defaults.columns[0][0].title = "标题"; // 对应Name  
            $.fn.propertygrid.defaults.columns[0][1].title = "内容"; // 对应Value  
            $.fn.propertygrid.defaults.columns[0][0].width = "20%"; // 对应Name  
            $.fn.propertygrid.defaults.columns[0][1].width = "75%"; // 对应Value  
        }
        //选择显示第二项
        $("#ad").accordion({
            selected: 1
        });
        $("#pg").propertygrid({
            toolbar:pgtb,
            showGroup: true,
            scrollbarSize: 0,
            groupFormatter: function (fvalue, rows) {
                return fvalue + ' - <span style="color:red">' + rows.length + ' rows</span>';
            },
            data: cloneJSON(propertygridData),
            onClickRow: function () {
                //单击行的时候，设置进入编辑状态
                var row = $("#pg").propertygrid("getSelected");
                var editIndex = $("#pg").propertygrid('getRowIndex', row);
                $("#pg").propertygrid('beginEdit', editIndex);
            },
            rowStyler: function (index, row) {
                if ((row.group == DYGroupName && row.editor == null) ||
                       (row.type != undefined && row.type == "load") ) {
                    return 'background-color:#F2F2F2;color:#000;font-weight:bold;height:100px;text-align:right';
                }
                if(row.name == "分隔位置"){
                    return 'background-color:#0081C2;color:#fff;font-weight:bold;height:100px;text-align:right';
                }
            }
        });
        $("#pg").propertygrid("collapseGroup");
        $("#pg").propertygrid("expandGroup", 0);
         
        //初始化
        ET_.onload();
    });
     
    $.extend($.fn.propertygrid.defaults.columns[0][1], {
        formatter: function (value, rowData, rowIndex) {
            if (rowData.name == "审核结果") {
                return value == SHENHEJIEGUO.PASS ? "通过" : "退回";
            } else {
                return value;
            }
        }
    });
</script>


